html {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #C2CDC2;
}

h1, h2, h3, h4, h5, p, span {
    margin: 0;
    color: #666;
}

.container {
    max-width: 1920px;
    width: 100%;
}

/* header */
header {
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}

/* navbar */
nav {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    z-index: 1;
    background-color: #001D26;
    border-bottom: 1px solid rgb(0, 0, 0);
}

nav:after {
    clear: both;
    content: '';
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    width: 70px;
    height: 70px;
    margin-top: 15px;
}

.nav-container ul {
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0%;
}

.nav-container li {
    list-style: none;
    float: left;
    margin: 0 15px;
}

.nav-container li a {
    text-decoration: none;
    color: #3381f3 ;
    transition: .5s;
}

.nav-container li a:hover {
    color: #fa4e40;
}

/* banner */
#main-banner {
    background: url(imagens/banner_opaco.jpg) no-repeat;
    background-size: cover;
    background-position: 0 45%;
    position: relative;
    margin-top: 100px;

}
#main-banner-2 {
    background: url(imagens/pag002coveropaco.jpg) no-repeat;
    background-size: cover;
    background-position: 0 45%;
    position: relative;
    margin-top: 100px;

}

#search-form {
    position: relative;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15em;
    padding-bottom: 15px;
    text-align: center;
}

#search-form h1 {
    font-size: 100px;
    color:rgb(250, 250, 237);
}

#search-form p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 36px;
    font-weight: 300;
    color: whitesmoke;
    
}

#lastjobs {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    text-decoration: none;
    font-size: 18px;
}

.wrapper {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#blocodetexto  p, h2{
    margin-top: 1em;
}

.botao {
    font-size: 1.2em;
    background: #001D26;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.botao:hover {
    background: #fa4e40;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}
#dicas {
    margin-bottom: 15em;
    text-align: center;
}